.formContainer {
    width: 400px;
    margin: 20px auto;
    height: 200px;
}

form input {
    width: 100%;
    padding: 0;
}

.formInput * {
    display: block;
}

.formInput p {
    color: #FF0000;
}

.checkbox {
    display: block;
    align-items: center;
    margin: 10px auto;
    width: 100%;
}

.checkbox input {
    margin-right: 10px;
    width: 15px;
    aspect-ratio: 1;
}

.checkbox p {
    color: #FF0000;
}

#buttons {
    display: flex;
    justify-content: space-between;
}

#footer {
    display: flex;
    left: 50%;
    background-color: aqua;
}

.buttonContainer {
    display: flex;
    margin: 1rem;
    width: 100%;
    justify-content: flex-end;
}

.registerLink {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 1rem;
}

.registerLink a {
    margin-left: 2px;
}

