#emailMessage {
    margin: 10px 0 0 10px;
    font-style: italic;
    color: #777;
}

#registration-menu {
    display: flex;
    flex-direction: column;
    margin: 0 auto 15px;
}

#registration-menu * {
    margin: 10px auto;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer * {
    margin: 5px 0;
}