.formContainer {
    width: 400px;
    margin: 20px auto;
    height: 200px;
}

form input {
    width: 100%;
    padding: 0;
}

.formInput * {
    display: block;
}

.formInput p {
    color: #FF0000;
}

.formInput input {
    padding-left: 4px;
}

#email {
    display: inline-block;
}

.formInput span {
    font-style: italic;
    color: #777;
}

.checkbox {
    display: block;
    align-items: center;
    margin: 10px auto;
    width: 100%;
}

.checkbox input {
    margin-right: 10px;
    width: 15px;
    aspect-ratio: 1;
}

.checkbox p {
    color: #FF0000;
}

#terms {
    position: relative;
    top: -2px;
}

#registration-menu {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

#registration-menu * {
    margin: 5px auto;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer * {
    margin: 5px 0;
}